<!DOCTYPE html>
<html lang="en">
<html>
<body>
  <header>
    <h1>The Tiny App</h1>
  </header>
 <% if (user) {%>
  <form action = "/logout" method ="POST">
    <div>Welcome, <%= user %> </div>
    <input type="submit" name="logout" value="Sign Out"/>
  </form>
    <% } else { %>
        <td colSpan="2">
          <a href= "/register">Register</a>
        </td>
        <td colSpan="2">
          <a href= "/login">Log In</a>
        </td>
    <% } %>
  </form>
</body>
</html>