<!DOCTYPE html>
<html lang="en">
<html>
<body>
  <header>
    <h1>The Tiny App</h1>
  </header>
  <% if (user) { %>
  <div> Hello, <%= user.id %> </div>
  <form action = "/logout" method ="POST">
    <input type="submit" value="Log Out"/>
  </form>
    <% } else { %>
        <div>
          <a href= "/register">Register</a>
      </div>
      <div>
          <a href= "/login">Log In</a>
        </div>
    <% } %>
  </form>
</body>
</html>