<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>403 Forbidden</title>
  </head>
  <body>
    <h3>You need to login to access the following page. </h3>
<div>
    <a href="/login">Go to login page.</a>
  </div>
  <div>
    <a href="/register">Don't have an acount? Register a new account.</a>
  </div>
  </body>
</html>