<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
    <%- include partials/_header.ejs %>
  </header>
        <h2><%=shortURL%></h2>
  <form action="/urls/<%=shortURL%>" method="POST">
    <div>
      <label for="newlongURL"> long URL: </label>
      <input type="text" name="longURL" value=""/>
    </div>
    <input type="submit" value="Update"/>
      </form>
</body>
</html>