<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
       <%- include partials/_header.ejs%>
  </header>
  <h2>Edit your URL</h2>
  <form action="/urls/<%=shortURL%>" method="POST">
    <div>
      <label for="shortURL"> long URL: </label>
      <input type="text" name="name" id="<%longURL>"/>
    </div>
    <input type="submit" value="Update shortURL"/>
      </form>

</body>
</html>